.fade-in-me.blue {
  background-color: #2771c6;
}

.fade-in-me.green {
  background-color: #488f31;
}

.fade-in-me {
  height: 60px;
  width: 180px;
  display: none;
}

.fade-in-me.active {
  display: block;
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* 살짝 위로 올라오는 효과 추가 가능 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sun {
  background-color: yellow;
  border-radius: 50%; /* creates a circular background */
  height: 100vh; /* makes the sun the size of the viewport */
  aspect-ratio: 1 / 1;
  animation: 4s linear 0s infinite alternate sun-rise;
}

@keyframes sun-rise {
  from {
    /* pushes the sun down past the viewport */
    transform: translateY(110vh);
  }
  to {
    /* returns the sun to its default position */
    transform: translateY(0);
  }
}
