@use '../../../styles/global'

.flex-container
  display: flex
  gap: 10px
  background-color: lightgray
  padding: 10px
  width: 1000px
  //height: 300px

.flex-item
  width: 100px
  height: 50px
  background-color: #629d3c
  display: flex
  justify-content: center
  align-items: center
  color: white
  font-size: 34px

.flex-container.normal
  justify-content: normal

.flex-container.start
  justify-content: start

.flex-container.end
  justify-content: end

.flex-container.flex-start
  justify-content: flex-start

.flex-container.flex-end
  justify-content: flex-end

.flex-container.center
  justify-content: center

.flex-container.left
  justify-content: left

.flex-container.right
  justify-content: right

.flex-container.space-between
  justify-content: space-between

.flex-container.space-around
  justify-content: space-around

.flex-container.space-evenly
  justify-content: space-evenly

.flex-container.stretch
  justify-content: stretch

.flex-stretch-item
  width: auto
  height: auto
  background-color: #629d3c
  display: flex
  justify-content: center
  align-items: center
  color: white
  font-size: 34px

.flex-special-item
  width: 100px
  height: 50px
  background-color: #629d3c
  display: flex
  justify-content: center
  align-items: center
  color: white
  font-size: 34px
  flex-shrink: 0

.flex-container.safe
  justify-content: safe flex-end
// safe: 오버플로우 방지

.flex-container.unsafe
  justify-content: unsafe flex-end
// unsafe: 정렬 강제

.flex-container.row-reverse-flex-start
  flex-direction: row-reverse
  justify-content: flex-start

.flex-container.row-reverse-flex-end
  flex-direction: row-reverse
  justify-content: flex-end

