@use '../../../styles/global'

.item
  background-color: seagreen
  display: flex
  justify-content: center
  align-items: center
  font: 30px bold
  color: white

.container
  display: grid
  background-color: moccasin
  gap: 10px
  max-width: 600px
  min-height: 200px
